<div class="nested-fields" id="event-date-fields">
  <div class="d-flex align-items-end mb-2 event-date-container">
    <div class="field me-2 mt-1">
      <%= f.label :event_day, '開催日時', class: "form-label mb-1 ps-2" %>
      <%= f.date_field :event_day, data: { behavior: "datepicker" }, class: "form-control" %>
    </div>
    <div class="field me-2 mt-1">
      <%= f.label :start_time, '開始時間', class: "form-label mb-1 ps-2" %>
      <div class="input-group">
        <%= f.time_field :start_time, class: "form-control timepicker" %>
      </div>
    </div>
    <div class="field me-4 mt-1">
      <%= f.label :end_time, '終了時間', class: "form-label mb-1 ps-2" %>
      <div class="input-group">
        <%= f.time_field :end_time, class: "form-control timepicker" %>
      </div>
    </div>
      <% f.hidden_field :event_id, value: @event.id %>
      <%= link_to_remove_association "削除", f , class: "btn btn-danger remove-event-date" %>
  </div>
</div>