<nav class="navbar">
  <h4><a class="navbar-brand" href="/">XploreNow</a></h4>
  <div class="header-container">
  <% if user_signed_in? %>
    <% if guest_user?%>
      <%= image_tag 'default-avatar',class: "img-account img-field img-circle" %>
      <li class="nav-item dropdown d-block">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink" >
          <%= current_user.name %>
        </a>
        <div class="list-right dropdown-menu dropdown-menu-left">
          <a class="dropdown-item" href="">イベントの新規登録</a>
          <a class="dropdown-item" href="">作成済みイベント一覧</a>
          <a class="dropdown-item" href="">ブックマークイベント一覧</a>
          <%= link_to "ログアウト" ,destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
      <%= image_tag current_user.image.blank? ? 'default-avatar' : current_user.image.url, class: "img-account img-field img-circle" %>
      <li class="nav-item dropdown d-block">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink" >
          <%= current_user.name %>
        </a>
        <div class="list-right dropdown-menu dropdown-menu-left">
          <a class="dropdown-item" href="">イベントの新規登録</a>
          <a class="dropdown-item" href="">作成済みイベント一覧</a>
          <a class="dropdown-item" href="">ブックマークイベント一覧</a>
          <a class="dropdown-item" href="/accounts">アカウント詳細</a>
          <%= link_to "ログアウト" ,destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    <% end %>
  <% else %>
      <%= link_to "ゲストログイン",users_guest_sign_in_path, method: :post, class: "btn btn-primary mr-3" %>
      <%= link_to "ログイン",new_user_session_path, class: "btn btn-primary mr-3"%>
      <%= link_to "新規登録",new_user_registration_path,class: "btn btn-secondary"%>
  <% end %>
  </div>
</nav>